<!-- Generic Page Layout (Default) -->
<article class="bg-white dark:bg-slate-800 rounded-2xl shadow-sm p-8 transition-colors duration-300">
    <div class="prose prose-lg dark:prose-invert max-w-none">
        <section class="flex flex-col items-center justify-center gap-y-[2.25rem] py-[2.5rem]">
            <div class="text-7xl sm:text-8xl md:text-9xl">
                <i class="fa-solid fa-4"></i>
                <i class="fa-solid fa-0"></i>
                <i class="fa-solid fa-4"></i>
            </div>
            <div class="text-xl sm:text-2xl md:text-3xl lg:text-4xl">OOPS! PAGE NOT FOUND!</div>
        </section>
    </div>
</article>
