#post-content
  h2
    font-size: 1.66em;
    font-weight: bold;
    line-height: 1.5;
    margin-top: 1.6rem;
    margin-bottom: 0.6rem;
  h3
    font-size: 1.33em;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 1.3rem;
    margin-bottom: 0.4rem;
  p
    padding: 0.5rem 0 0.8rem 0
  a
    text-decoration: underline
  code
    border: 1px dotted #a0a0a0;
    padding: 0 0.25rem;
  img
    border-radius: 0.75rem;
    border: 1px solid #ededed;
    margin: 0.8rem 0 1.25rem;
  ul
  menu
    list-style: disc
    margin-inline-start: 1.25rem
    padding: 0.8rem 1rem
  ol
    list-style: decimal
    margin-inline-start: 1.25rem
    padding: 0.8rem 1rem

#toc
  .toc-content
    font-size: 0.875rem
    line-height: 1.75rem
    padding-left: 0.75rem
    border-left-width: 1px
    border-color: rgb(226, 232, 240)
    
    .toc-link:hover
      color: rgb(79, 70, 229)
    
    .toc-child
      padding-left: 1rem

.dark #toc .toc-content
  color: rgb(148, 163, 184)
  border-color: rgb(51, 65, 85)

article
  figure.highlight
    background-color: #1e2a3b
    color: #ededed
    padding: 1rem 1.25rem;
    border-radius: 0.75rem;
    margin: 1.75rem 0;

    table
      display: block
      overflow-x: scroll

      td.gutter
        padding-right: 1.5rem
        color: #a0a0a0

.dark article figure.highlight
  background-color: #252525
